$black: #131312;
$black-75: #0e0e0e;
$black-50: #898989;
$black-25: #c4c4c4;
$black-10: #e7e7e7;
$black-5: #f3f3f3;

$subtitle: 13px;
$paragraph: 16px;
$header-1: 48px;
$header-2: 39px;
$header-3: 31px;
$header-4: 25px;
$header-5: 20px;
