@import "../../../styles/utilities/_colors.scss";
@import "../../../styles/utilities/_breakpoints.scss";

//Add in toolbar if you need the navbar to displace
.toolbar {
  // height: 60px;
}

.navContainer {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $layout-background;
  border-bottom: 1px black dotted;
  padding-inline: 64px;

  position: relative;
  z-index: 30;
  @include mobile-breakpoint-down {
    padding-inline: 16px;
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 1100px;
  height: 104px;
  padding-block: 24px;

  .navbarLogo {
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: scale-down;
    }
  }
}

.navLinks {
  display: flex;
  justify-content: space-between;
  flex: 0 1 600px;
}

.navPages {
  display: flex;
  padding: 10px;
  a {
    position: relative;
    margin-inline: 20px;
    text-decoration: none;
    color: darken($edgy-white, 10%);
    font-size: 0.8rem;
    white-space: nowrap;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 0px;
      bottom: -2px;
      border-bottom: 1px solid darken($edgy-white, 10%);
      -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: -webkit-transform 0.2s ease-in;
      transition: transform 0.2s ease-in;
    }
    &:hover::before {
      -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  // CSS TO APPLY FOR SELECTED PAGE
  .tabSelected {
    a {
    }
  }
}

.navBurgerButton {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

%burgerBase {
  width: 32px;
  height: 1px;
  background-color: white;
  border-radius: 1px;
  position: relative;
  transition: all 0.5s ease-in-out, background-color 0.3s ease-in-out;
}

.navBurgerBar {
  @extend %burgerBase;

  &::before {
    @extend %burgerBase;
    content: "";
    position: absolute;
    transform: translateY(-8px);
  }
  &::after {
    @extend %burgerBase;
    content: "";
    position: absolute;
    transform: translateY(8px);
  }
}

.openButton {
  background: transparent;
  transform: translateX(-50px);

  &::before {
    transform: rotate(45deg) translate(35px, -35px);
    background: white;
  }
  &::after {
    transform: rotate(-45deg) translate(35px, 35px);
    background: white;
  }
}

.dropDownMenu {
  background-color: $dark;
  position: absolute;
  top: -300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 20;

  transition: top 0.5s ease-in-out;
  div {
    display: flex;
    justify-content: center;
    a {
      display: flex;
      justify-content: center;
      line-height: 3rem;
      border-block: 1px lighten($dark, 5%) solid;
      flex-basis: 800px;
      color: white;
    }
  }
  .burgerTabSelected {
    background-color: lighten($dark, 5%);
  }
}

.openMenu {
  top: 80px;
}

// Dampen screen when menu drawer slides down.
.cloak {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.reactIcon:hover {
  color: $secondary-color !important;
}
